<h2>TimeSplitter Help</h2>
<p>Welcome to TimeSplitter Help. You must create an account and be signed-in in order to use this site.</p>
<br>
<h4>Creating a New Task</h4>
<p>Once you have signed into your account, there will be a button for 'Create Task' in the righthand side of the navbar at the top of the screen. Clicking on that will bring you to the forms to input your task info/details. Once you have the form-fields filled out click 'Save Task' to save your task.</p>
<br>
<h4>Viewing Your Tasks</h4>
<p>Once you have created a task in the system it will be viewable to only you and only when you're signed into your account. To view the tasks that you have simply click on the button labeled 'tasks' in the lefthand side of the navbar at the top of your screen.</p>
<br>
<h4>Editing an Existing Task</h4>
<p>To edit a created and uncompleted task simply click anywhere on the text body of the task you wish to edit. That will bring up an edit form for you to enter the updated information.</p>
<br>
<h4>Marking a Task as Completed</h4>
<p>To mark a task as 'done' simply click on the checkbox where it says "Is this task done?". Once a task has been marked as completed the text will have a strike-through, and the only info visible will be the task name and date. You will no longer be able to click on the text and edit your task info. It is possible to click the checkbox on a task that is completed to re-open it and mark it as incomplete.</p>
<br>
<h4>Deleting a Task</h4>
<p><b>NOTE</b> marking a task as incomplete is not the same as deleting it. If you decide to delete a task from the system this action cannot be undone. To delete a task simply click the 'Delete' button below the task.</p>
<br>
<h4>More info and features coming soon!</h4>
<h4>Thanks for visiting</h4>
