{{#if model.length}}
{{#each model as |task|}}
{{update-task task=task deleteTask='deleteTask' toggleTaskDone='toggleTaskDone' closeEdit='closeEdit'}}
{{/each}}
{{else}}
<h3>You don't have any tasks. Must be nice having no responsibilities.</h3>
{{/if}}
